# Accelerated introduction to Python - Part 2
## Data structures and control flow - towards big data
This part goes into more depth on strings, numerical data and compound data types like lists. Building your agility with these structures is crucial for what follows! We'll begin to handle data at scale through loops and list comprehensions.

### 1: Further string manipulation
Strings can be defined several ways, such as with single quotes or double quotes. Why? Strings themselves may include quotes. The resulting ambiguity can break your code. All programming languages have tricks to get around this issue:

In [1]:
# One string, two ways

print('Yes, they said.')
print("Yes, they said.")

Yes, they said.
Yes, they said.

In [2]:
# An easy way to trip up

print(''Yes', they said.')

SyntaxError: invalid syntax (<ipython-input-2-4ab7d24cf427>, line 3)

In [2]:
# If your string contains one type of quote, define it with the other type

print("'Yes', they said")

'Yes', they said

In [3]:
# remember, strings can be concatenated using +
full_name = "Ronaldo" + " " + "Luís" + " " + "Nazário" + " " + "de Lima"
full_name

'Ronaldo Luís Nazário de Lima'

In [4]:
# and manipulated using string methods
full_name.split()

['Ronaldo', 'Luís', 'Nazário', 'de', 'Lima']

### 2. Control the `print` statement
`print()` is a built-in function that echos objects to the console. When printing strings, use the .format() method. Putting this at the end of a string let's you:
* substitute variables into the string;
* control how they're formatted (eg. decimal places).

In [5]:
print("A string: that was easy")

A string: that was easy

In [6]:
print(42, "that was also easy")

42 that was also easy

In [7]:
print(20000/365, "that's not ideal")

54.794520547945204 that's not ideal

In [8]:
# include variables inside strings with {}, then (after the string), .format()
x = 42

print("Here's a number: {}. It's less than 50".format(x))

Here's a number: 42. It's less than 50

In [9]:
# you can include multiple substitutions, and they don't have to be variables (operations are fine)

print("Is {} really less than 50? Answer: {}.".format(x, x<50))

Is 42 really less than 50? Answer: True.

Note: `.format()` actually has a mini-language associated with it, check the documentation [here](https://pyformat.info/).

In [10]:
# just memorize this one for now:

print("Daily salary is approximately {:.2f} (two decimal places)".format(20000/365))

Daily salary is approximately 54.79 (two decimal places)

### 3. Indexing and slicing
Several data types are defined as 'sequences.' They return their elements in order and can be queried using square bracket notation. This powerful notation works across strings, lists, arrays and DataFrames:

In [12]:
# to get one character from a string, put the index number in square brackets directly after the variable name
language = 'Python'
language[-1]

'n'

In [13]:
# index values can be negative.
language[-1]

'n'

Index values point between characters. The left edge of the first character is 0. "Python" has six characters, so the right edge of the last character is index 6.

In [ ]:
#       +---+---+---+---+---+---+
#       | P | y | t | h | o | n |
#       +---+---+---+---+---+---+
#       0   1   2   3   4   5   6
#      -6  -5  -4  -3  -2  -1

# credit: www.python.org/3/tutorial

You can 'slice' strings and other sequences, using the start and end index

In [14]:
# slices give you all elements from the start index, up to (but NOT including) the end index

language[0:4]

'Pyth'

What happens if you leave out the start or end index while slicing? Python will use default values instead. Take a sequence of length `n`. For start position, it will default to 0. For end position, it will default to `n`.

In [15]:
# everything up to fourth index
language[:4]

'Pyth'

In [16]:
# fourth position onwards
language[4:]

'on'

In [17]:
# fourth from last, up to end of string
language[-4:]

'thon'

You can use the same index notation with higher dimensional data structures, eg. a 3D array (eg. a stack of rasters: latitude, longitude, time, temperature).

### 3. Extracting data from messy strings

In [18]:
# say you get a large column of ZIP codes, but in a messy format like this
zip_code1 = "Fred: ZIP 43403-0049"
zip_code2 = "Margaret: ZIP 43402-0132"

In [19]:
# we're interested in this part: 43403

In [20]:
# Q: how could we systematicaly pull out the key 5 digits, to create a clean list of zips?

To crack a problem like this, you could:
* Use tab completion to list available string methods
* Check the [documentation](https://docs.python.org/2/library/stdtypes.html#string-methods)
* Ask StackOverflow

In [23]:
# Using square bracket notation
zip_code1[10:15]

'43403'

Q: Any issues with the above method?

In [25]:

# Alternatively, get help on the .split() method

zip_code1.split?

Q: Can you get the key 5 digits using the .split() method?

In [26]:

# split each string twice (using a different separator):

zip_code1.split()[2].split('-')[0]

'43403'

In [ ]:
# Q: what data type did that return?

Operating on data at scale requires more firepower: eg. list comprehensions and functions.

### 4: Test conditions with Boolean logic
To build up operations on larger datasets, more control flow tricks are helpful: including Boolean logic.

The statement `a == b` asks Python to evaluate whether variable a equals variable b; the interpreter will return True or False.

Similar statements would be `a > b`, `a >= b`, or `a != b`.

In [27]:
a = 6
b = 4

print("Dear Python, please evaluate the statement 'a > b' for me.")

print("ANSWER:", a > b)

Dear Python, please evaluate the statement 'a > b' for me.
ANSWER: True

The `and`, `or` and `not` operators check whether combinations of statements are true at the same time.

In [28]:
month = 'July'
hour = 14

In [29]:
(month == 'July') and (hour < 12)         # is it a morning in July?

False

In [30]:
(month == 'July') or (hour < 12)          # is it either a morning, or in July?

True

In [31]:
not(hour < 12) and (month == 'July')     # is it not a morning, and in July?

True

You can apply Boolean logic to lists. This is the idea of Boolean masking (useful to filter datasets based on conditions, or when handling raster data).

In [32]:
some_values = [3, 5, 6, 8, 9, 11, 14, 16]       # Let's get only even numbers

In [33]:
mask = []

for value in some_values:
    mask.append(value % 2 == 0)                 # is the number divisible by two?

In [34]:
mask

[False, False, True, True, False, False, True, True]

In [2]:
some_values = [3, 5, 6, 8, 9, 11, 14, 16]
mask = []

for value in some_values:
    mask.append(value % 2 == 0)  
    
for i in range(len(some_values)):
    if mask[i]:
        print(some_values[i])

6
8
14
16

### 5. Building programs with `if`, `elif` and `else`

We already met `if` constructions. Get the indentation right, and build more sophisticated rules that test multiple conditions.

In [35]:
# an if statement executes the indented code only if some condition is true

my_value = 11

if my_value > 10:
    print("Number is greater than 10")

Number is greater than 10

In [36]:
# use Boolean operators to test multiple conditions

if (my_value > 10) and (my_value < 15):
    print("Number is between 10 and 15")

Number is between 10 and 15

In [37]:
# if the first if statement evaluates to false, elif executes a code block if its condition is true
# else executes a code block if no preceding if or elif evaluated to true

if (my_value > 0) and (my_value < 10):
    print("Number is positive and less than 10")
    
elif my_value > 10:
    print("Number is greater than 10")
        
else:
    print("Must be negative or not a number.")

Number is greater than 10

### 6. Iterables and range()

In [38]:
# strings and lists are examples of iterables: they can return their members one-by-one.

for meal in ['Breakfast', 'Snack', 'Dinner']:
    print("{} has {} letters".format(meal, len(meal)))

Breakfast has 9 letters
Snack has 5 letters
Dinner has 6 letters

In [39]:
# range() is another way to generate iterables; it returns an arithmetic series

print("NUMBERS AND THEIR CUBES")
for i in range(5):
    print(i, i**3)

NUMBERS AND THEIR CUBES
0 0
1 1
2 8
3 27
4 64

In [40]:
# as usual, you get all numbers from start point (included) to end point (not included)

print("NUMBERS AND THEIR CUBES")
for i in range(-5, 5):
    print(i, i**3)

NUMBERS AND THEIR CUBES
-5 -125
-4 -64
-3 -27
-2 -8
-1 -1
0 0
1 1
2 8
3 27
4 64

In [41]:
# using range(n+1) often makes sense

print('Give me numbers up to n, where n = 3')

n = 3
for i in range(n+1):
    print(i)

Give me numbers up to n, where n = 3
0
1
2
3

In [42]:
# what happens when you print a range() item?
range(5)

range(0, 5)

In [43]:
# the list() function turns any iterable into a list.   
list(range(5))

[0, 1, 2, 3, 4]

Q: is the above operation ideal? Why or Why not?

In [44]:
# enumerate() lets you loop through an iterable,  keeping track of where you are

meals = ['Breakfast', 'Post-Breakfast Snack','Elevenses', 'Lunch','Tea','Dinner','Bedtime snack']

for n, meal in enumerate(meals):
    print("Meal {} today: {}".format(n + 1, meal))

Meal 1 today: Breakfast
Meal 2 today: Post-Breakfast Snack
Meal 3 today: Elevenses
Meal 4 today: Lunch
Meal 5 today: Tea
Meal 6 today: Dinner
Meal 7 today: Bedtime snack

### 7. List comprehensions
Return to our zip code example. We have seen many ways to operate on strings or numbers. But how to scale these operations across several hundred (or thousand) examples?

List comprehensions are a concise way to build lists using rules. They apply an operation to a series of items, and package the result in a list.

In [3]:
# first a squares example
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Steps:
* First write the expression to evaluate.
* Then add a `for` statement
* And the sequence to perform the operation on.

__Exercise: re-write the following as a list comprehension__

In [ ]:
absolute_cubes = []
for n in range(-100, 101):
    absolute_cubes.append((n**3))

In [45]:
# code here:
[x**3 for x in range(-100,101)]

[-1000000,
 -970299,
 -941192,
 -912673,
 -884736,
 -857375,
 -830584,
 -804357,
 -778688,
 -753571,
 -729000,
 -704969,
 -681472,
 -658503,
 -636056,
 -614125,
 -592704,
 -571787,
 -551368,
 -531441,
 -512000,
 -493039,
 -474552,
 -456533,
 -438976,
 -421875,
 -405224,
 -389017,
 -373248,
 -357911,
 -343000,
 -328509,
 -314432,
 -300763,
 -287496,
 -274625,
 -262144,
 -250047,
 -238328,
 -226981,
 -216000,
 -205379,
 -195112,
 -185193,
 -175616,
 -166375,
 -157464,
 -148877,
 -140608,
 -132651,
 -125000,
 -117649,
 -110592,
 -103823,
 -97336,
 -91125,
 -85184,
 -79507,
 -74088,
 -68921,
 -64000,
 -59319,
 -54872,
 -50653,
 -46656,
 -42875,
 -39304,
 -35937,
 -32768,
 -29791,
 -27000,
 -24389,
 -21952,
 -19683,
 -17576,
 -15625,
 -13824,
 -12167,
 -10648,
 -9261,
 -8000,
 -6859,
 -5832,
 -4913,
 -4096,
 -3375,
 -2744,
 -2197,
 -1728,
 -1331,
 -1000,
 -729,
 -512,
 -343,
 -216,
 -125,
 -64,
 -27,
 -8,
 -1,
 0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

__Exercise: Data wrangling example__

In [47]:
# here's our messy input data
input_data = ["Alex: ZIP 20022-0049", "Margaret: ZIP 20009-0132", "Hermione: ZIP 10009-3214"]

In [ ]:
# as a for loop
clean_list = []
for i in input_data:
    clean_list.append(i.split()[2].split('-')[0])

In [48]:
# code here:
[i.split()[2].split('-')[0] for i in input_data]

['20022', '20009', '10009']